# loops in python
1. `while loop`
2. `for loop`

`while loop` - it is used when there is no definite end of the looping situation
`for loop` - it is used when we know exactly after how many interation the loop will end.

what is iteration?
--
iteration is nothing but the a unit task that is going to be performed in the loop

-- set of iteration is collectively called loop.

`example of for loop` - 
Suppose you have a list of names, and you want to check if there is any name that is `Manav`


`example of while loop` - 
if you want to write a program where the some set of task will keep of executing till the user press `ctrl+c`

## for loops
1. on range - specified number of iteration
2. some data

## while loop
1. condtions - exactly like `if` statement works

In [ ]:
for var in range(0, 12, 1):  # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,
    print(var)
    print(var)
    print(var)
    print()

# there are 12 iterations

In [14]:
# sum - up all the numbers from 0 to 100

multiply = 1
for i in range(-1, -102, -2):
    multiply *= i

print(multiply)

-275264606114823679801052037785492781962370429385126144787167211167753726318359375

# Patter printing

```
*
* *
* * *
* * * *
* * * * * 
* * * * * *
```

1. take an integer value from user 
2. that value will tell exactly how many rows of pattern should be printed. 
3. then print the above pattern of stars on the screen.

In [1]:
n = int(input("Enter the number of rows: ")) # 6
# 1, 2, 3, 4, 5, 6
for row in range(1, n+1, 1): # creating a new row
    # the inner loop will be used for printing stars in the newly created row
    for star in range(0, row):
        print("*", end=" ")
    # once printing of stars in the inner loop is done, we print an empty print() to create a new row
    # creating a new row
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

```
          *
        * *
      * * *
    * * * *
  * * * * * 
* * * * * *
```

1. take an integer value from user 
2. that value will tell exactly how many rows of pattern should be printed. 
3. then print the above pattern of stars on the screen.

iterables - > any thing which have any kind of pre defined relationship between data components of the whole data set/structure. and can be accessed sequentially, is called iterables. 

for loop words on three type of data
1. iterables
2. iterators
3. generators

In [3]:
s = "Manav" # iterable that can be used in for loop.
print(s[0], s[1], s[2], s[3], s[4])

M a n a v

In [4]:
for i in s:
    print(i)

M
a
n
a
v

write a program to make a new string by reversing the original string and print the original string and the reversed string side by side. 
then extent this program to take 5 user inputs from user and then print the original input and then the reversed string by the side of original string.

In [7]:
def reverse_string(s):
    new_s = ""
    for i in s:  # 6
        new_s = i + new_s

    return new_s

def main():
    for i in range(5):
        s = input("enter original string: ")
        rev_s = reverse_string(s)

        print(s, rev_s)

main()

Anurag garunA
Manav vanaM
Shubahngi ignhabuhS
Ram maR
Ayushi ihsuyA

In [8]:
s= "Anurag"
s2 = 'a'

688.0

## Looping on list using for loop

In [1]:
# traditional way
# using ranges or say working with indexes

lst = [23,432,432,4,325,34,5,435,344,23,4,23]
# i want to update the original list by multiplying 5 to each element of the list

for i in range(len(lst)):
    lst[i] = lst[i] * 5

print(lst)

[115, 2160, 2160, 20, 1625, 170, 25, 2175, 1720, 115, 20, 115]

In [2]:
lst = [23,432,432,4,325,34,5,435,344,23,4,23]

for val in lst:
    print(val * 5)

115
2160
2160
20
1625
170
25
2175
1720
115
20
115

In [3]:
lst

[23, 432, 432, 4, 325, 34, 5, 435, 344, 23, 4, 23]

In [ ]:
lst = [
    [1, 2, 3, 4, 5],
    [2, 3, 4, 5, 6], 
    [3, 4, 5, 6, 7], 
    [4, 5, 6, 7, 8],
    [5, 6, 7, 8, 9],
]

In [1]:
lst = [-5, -6, 91, 10, -11, -12]

for i in range(len(lst)):
    lst[i] = abs(lst[i])  # abs is used to get the abosolute value of the interger value.

lst

[5, 6, 91, 10, 11, 12]

In [15]:
print("\n".join(k), file=open("output.txt", "w"), flush=True)

In [ ]:
lst = ["anurag", "shashank", "Ayushi", "abhinav"]


for i in lst: #  0 -> "anurag" , 1 -> "shashank, 2 -> Ayushi, 3 -> abhinav
    print(i, lst)
    lst.remove(i)

lst

In [6]:
lst = [32,432,432,4,234,325342,32,423,5,234,324,324234,23432,4324,324,324,32432,4,32,32432,4,23423,423,423,2]

lst[-3: (len(lst) - 1) * (-1) : -1]

[423,
 23423,
 4,
 32432,
 32,
 4,
 32432,
 324,
 324,
 4324,
 23432,
 324234,
 324,
 234,
 5,
 423,
 32,
 325342,
 234,
 4,
 432]

In [1]:
lst1=[432,423,42,34,232,34,2,42,3]
lst2 = [324423,2,423,42,4,34,324,32,4,32,42]
lst = lst1 + lst2  # create new list 

# what if you want to merge and get the final result in any one of the list
# you want to append all the data of list2 into list1

lst1.extend(lst2)
print(lst)
print(lst1)

[432, 423, 42, 34, 232, 34, 2, 42, 3, 324423, 2, 423, 42, 4, 34, 324, 32, 4, 32, 42]
[432, 423, 42, 34, 232, 34, 2, 42, 3, 324423, 2, 423, 42, 4, 34, 324, 32, 4, 32, 42]

In [4]:
# unlike append we can use insert method of list to add data at any specific position/index

lst = ["Anruag", "Manav", "Fahran", "Ayushi", "Shoeb"]

# lst.append("Shashank")  # X

lst.insert(-2, "Shashank")
print(lst)

['Anruag', 'Manav', 'Fahran', 'Shashank', 'Ayushi', 'Shoeb']

In [6]:
# pop method takes optional argument name index 
# if the index is provided then data from the list at that index is removed and the pop method returns that data to be saved for later use
# but if no index is provided then the last data from the list is deleted

lst = ["Anruag", "Manav", "Fahran", "Ayushi", "Shoeb"]

# no index provided
data_deleted = lst.pop()
print(data_deleted)
print(lst)


# when the index is provided
new_data_deleted = lst.pop(2)
print(new_data_deleted) 
print(lst)

Shoeb
['Anruag', 'Manav', 'Fahran', 'Ayushi']
Fahran
['Anruag', 'Manav', 'Ayushi']

In [ ]:
# your task is empty this list using pop and any loop of your choice
lst = ["Anruag", "Manav", "Fahran", "Ayushi", "Shoeb"]

# write your loop logic here

print(lst)  # []

In [8]:
# other method of deleting data from the list
# the method is `remove` that works on the data and not on the index
# unlike pop method remove method searches for the data and then deleted it from the list

lst = ["Anruag", "Manav", "Fahran", "Manav", "Ayushi", "Shoeb"]

lst.remove("Manav")
print(lst)


# your task is to find a way so that you can delete all occurences of `Manav` from the list

['Anruag', 'Fahran', 'Manav', 'Ayushi', 'Shoeb']

In [13]:
# I have list of numbers in string format and then I want to get the sum of all the numbers

lst = ["1", "34", "324", "32", "9", "9"]

sum_ = 0
for i in lst:
    sum_ += int(i)

print(sum_)

# other solution by list comprehension
sum_ = sum([int(i) for i in lst])
print(sum_)


# other solution by map
sum_ = sum(map(int, lst))  # fastest way- as fast as C code
print(sum_)

409
409
409

In [15]:
lst = [234,32,432,34,23,4,235,34654546,34,534,542,34,23,42,35,345,34,63,5,234,2]

def is_odd(x):
    return x % 2 != 0  # if the number is odd it will return True

odd_list = list(filter(is_odd, lst))
print(odd_list)


# explain much about iterators

[23, 235, 23, 35, 345, 63, 5]

In [21]:
import random

def get_2d_list():
    lst = [[random.randint(0, 1999) for x in range(5)] for x in range(5)]
    return lst

lst = get_2d_list()
lst

[[1879, 777, 208, 1054, 1185],
 [758, 298, 23, 404, 635],
 [1559, 1615, 1139, 1056, 339],
 [969, 188, 1240, 382, 285],
 [1042, 513, 1971, 904, 1750]]

In [56]:
lst[1][2] = random.randint(0,100)  # (1, 2)
lst

[[1879, 777, 208, 1054, 1185],
 [758, 298, 30, 404, 635],
 [1559, 1615, 1139, 1056, 339],
 [969, 188, 1240, 382, 285],
 [1042, 513, 1971, 904, 1750]]

In [18]:
sum_ = 0  # for sum operation, the index value for sumation is 0

for current_row in lst:
    for current_data in current_row:
        sum_ += current_data

print(sum_)

4998168608

In [20]:
sum((sum(x) for x in lst))

4998168608

In [5]:
multi = 1

for current_row in lst:
    for current_data in current_row:
        multi *= current_data


print(multi)

902761335549554419908804603425910058461345730307381320553255141376000